<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>Discover</title>
    <link href="../../css/mui.min.css" rel="stylesheet"/>
    <link href="../../css/css/news.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../../css/common.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/css/me.css"/>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
	    <h1 class="mui-title">Discover</h1>
	</header>
	<div class="mui-content">
		<div class="index_header">
			<div class="transaction_record">
				<div class="transaction_record_one">
					<div class="money_trends">   
						<img class="money_img" src="../../images/icons/logo.png"/>
					</div>
				</div>
			</div>
		</div>
		
		<div class="jiange"></div>
		<div class="my-title">
   			<span>Dapp Store</span>
   		</div>		
		<div class="jiange"></div>
		
		<div class="banking_classify_list">
			<li class="mui-active">
				<a data-url="https://eos.io/">
					<img src="../../images/icons/EOS.svg">
					<p>EOS</p>
				</a>
			</li>
			<li class="mui-active">
				<a data-url="https://dog.vgdapp.com/#/">
					<img src="../../images/icons/VG_head.png">
					<p>WeickyDog</p>
				</a>
			</li>   
			<li class="mui-active">
				<a data-url="http://www.weilaicaijing.com/">
					<img src="../../images/icons/wlcj_logo3_head.png">
					<p>WeiLaiCaiJing</p>
				</a>
			</li>
			<li class="mui-active">
				<a data-url="http://8btc.com/forum-146-1.html">
					<img src="../../images/icons/tiansuan_head.png">
					<p>DELPHY</p>
				</a>
			</li>
			<li class="mui-active">
				<a data-url="https://www.mytokenpocket.vip/">
					<img src="../../images/icons/token_head.png">
					<p>TokenPocket</p>
				</a>
			</li>
		</div>	
		
	</div>
	
	<script src="../../js/mui.js"></script>
	<script src="../../js/common.js"></script>
	<script src="../../js/util/back.js"></script>
	<script src="../../js/script/_en/news.js"></script>
	<script type="text/javascript" charset="utf-8">
      	mui.init();
    </script>
</body>
</html>