<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>transaction</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/css/me/sq_vip.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/css/quetes.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/css/transaction.css"/>
		<style type="text/css">
			.my-td{
			    border-left: 15px solid #FFFFFF;
    			border-right: 15px solid #FFFFFF;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title" id="title">ETH</h1>
		</header>
		
		<div class="mui-content">
		    <div class="my-head">
		    	<div class="money">
		    		<span>0</span>
		    		<span>≈ $0.00</span>
		    	</div>
		    </div>
		    <div class="my-while">
		    
		    </div>
		    	<div class="my-list">
		    		<div class="my-title">
		   				<span>Transfer to and out of the record</span>
		   			</div>
		   			<div style="height: 5px; background: #efeff4;"></div>
		   		
		   		<table class="my-table my-title">
					<tr class="my-tr">
						<td class="my-td">Types</td>
						<td class="my-td">Quantity</td>
						<td class="my-td">Handling</td>
						<td class="my-td">Time</td>
					</tr>
				</table>
		   		<ul class="mui-table-view" id="list">
		   			<li class="mui-table-view-cell">
		   				<span class="type">Out</span>
		   				<span class="number">0.100000</span>
		   				<span class="sx_money">23.10</span>
		   				<span class="time">10:11</span>
		   			</li>
		   			<li class="mui-table-view-cell">
		   				<span class="type">Transfer</span>
		   				<span class="number">0.100000</span>
		   				<span class="sx_money">23.10</span>
		   				<span class="time">10:11</span>
		   			</li>
		   			<li class="mui-table-view-cell">
		   				<span class="type">Out</span>
		   				<span class="number">0.100000</span>
		   				<span class="sx_money">23.10</span>
		   				<span class="time">10:11</span>
		   			</li>
		   			<li class="mui-table-view-cell">
		   				<span class="type">Transfer</span>
		   				<span class="number">0.100000</span>
		   				<span class="sx_money">23.10</span>
		   				<span class="time">10:11</span>
		   			</li>
				</ul>    
		   </div>
		    <div class="my-foot">
		    	<nav class="mui-bar mui-bar-tab">
			        <a class="mui-tab-item" id="zr" style="background: #2AC845">
			            <span class="mui-tab-label">Transfer Out</span>
			        </a>
			        <a class="mui-tab-item" id="dh" style="background: #3b579d;">
			            <span class="mui-tab-label">Exchange</span>
			        </a>
			        <a class="mui-tab-item" id="zc" style="background: #2AC845;">
			            <span class="mui-tab-label">Transfer</span>
			        </a>
			    </nav>
				
		    </div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/script/_en/transaction.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>