<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>发现</title>
    <link href="../../css/mui.min.css" rel="stylesheet"/>
    <link href="../../css/css/news.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../../css/common.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/css/me.css"/>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
	    <h1 class="mui-title">发现</h1>
	</header>
	<div class="mui-content">
		<div class="index_header">
			<div class="transaction_record">
				<div class="transaction_record_one">
					<div class="money_trends">   
						<img class="money_img" src="../../images/icons/logo.png"/>
					</div>
				</div>
			</div>
		</div>
		
		<div class="jiange"></div>
		<div class="my-title">
   			<span>Dapp商店</span>
   		</div>		
		<div class="jiange"></div>
		
		<div class="banking_classify_list">
			<li class="mui-active">
				<a data-url="https://eos.io/">
					<img src="../../images/icons/EOS.svg">
					<p>EOS助手</p>
				</a>
			</li>
			<li class="mui-active">
				<a data-url="https://dog.vgdapp.com/#/">
					<img src="../../images/icons/VG_head.png">
					<p>威基狗</p>
				</a>
			</li>   
			<li class="mui-active">
				<a data-url="http://www.weilaicaijing.com/">
					<img src="../../images/icons/wlcj_logo3_head.png">
					<p>未来财经</p>
				</a>
			</li>
			<li class="mui-active">
				<a data-url="http://8btc.com/forum-146-1.html">
					<img src="../../images/icons/tiansuan_head.png">
					<p>天算</p>
				</a>
			</li>
			<li class="mui-active">
				<a data-url="https://www.mytokenpocket.vip/">
					<img src="../../images/icons/token_head.png">
					<p>通证大师</p>
				</a>
			</li>
		</div>	
		
		<!--<div class="news_list">
			<div class="jiange"></div>
			<div class="my-title">
	   			<span>热门资讯</span>
	   		</div>		
			<div class="jiange"></div>
			<ul class="mui-table-view">
			    <li class="mui-table-view-cell mui-media" data-id="1">
			        <a href="javascript:;">
			            <img class="mui-media-object mui-pull-left" src="../../images/icons/logo.png">
			            <div class="mui-media-body">
			                <span>快讯 | XRP官方协议区块同步完成</span>
			                <span class="my-time">2018-7-19</span>
			                <p class='mui-ellipsis'>与XRP官方协议区块同步已经完成，于7月18日登陆PlusToken钱包。</p>
			            </div>
			        </a>
			    </li>
			</ul>
		</div>-->
	</div>
	
	<script src="../../js/mui.js"></script>
	<script src="../../js/util/back.js"></script>
	<script src="../../js/script/_cn/news.js"></script>
	<script type="text/javascript" charset="utf-8">
      	mui.init();
    </script>
</body>
</html>