<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../../css/css/me/candy.css"/>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">糖果</h1>
		</header>
		
		<div class="mui-content">
		    <div class="my-list">
		    	<ul class="mui-table-view">
		    		<li class="mui-table-view-cell">
		    			<img class="my-img" src="../../../images/icons/logo.png"/>
		    			<span class="my-name">派送</span>
		    			<span class="my-number">0.01000000个</span>
		    			<span class="my-time">2018-07-19 11:10</span>
		    		</li>
		    		<li class="mui-table-view-cell">
		    			<img class="my-img" src="../../../images/icons/logo.png"/>
		    			<span class="my-name">派送</span>
		    			<span class="my-number">0.01000000个</span>
		    			<span class="my-time">2018-07-19 11:10</span>
		    		</li>
		    		<li class="mui-table-view-cell">
		    			<img class="my-img" src="../../../images/icons/logo.png"/>
		    			<span class="my-name">派送</span>
		    			<span class="my-number">0.01000000个</span>
		    			<span class="my-time">2018-07-19 11:10</span>
		    		</li>
		    	</ul>
		    </div>
		</div>
		
		<script src="../../../js/mui.min.js"></script>
		<script src="../../../js/common.js"></script>
		<script src="../../../js/script/_cn/me/candy.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>