<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>friends_ai_dog</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../../css/css/quetes.css"/>
		<link rel="stylesheet" type="text/css" href="../../../css/css/me/candy.css"/>
		<style type="text/css">
			.my-td {
			    border: 0;
			    width: 10%;
			    border-bottom: 2px solid #3b579d; 
			    border-left: 15px solid #FFFFFF;
			    border-right: 15px solid #FFFFFF;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">伙伴详情</h1>
		</header>
		
		<div class="mui-content">
		    <div class="my-list">
				<div class="my-title">
					<table class="my-table my-title" style="background: #FFFFFF;">
						<tr class="my-tr">
							<td class="my-td">币种</td>
							<td class="my-td">状态</td>
							<td class="my-td">金额</td>
						</tr>
					</table>
				</div>
				<div class="list">
					<ul class="mui-table-view">
			    		<li class="mui-table-view-cell">
			    			<img class="my-img" src="../../../images/logo.png"/>
			    			<span id="name" class="my-name">PLUS</span>
			    			<span class="my-number">未开启</span>
			    			<span class="my-time">0.0000000</span>
			    		</li>
			    		<li class="mui-table-view-cell">
			    			<img class="my-img" src="../../../images/icons/DOGE.svg"/>
			    			<span id="name" class="my-name">DOGE</span>
			    			<span class="my-number">已开启</span>
			    			<span class="my-time">0.0100010</span>
			    		</li>
			    	</ul>
				</div>
	    	</div>
		</div>
		<script src="../../../js/mui.min.js"></script>
		<script src="../../../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>