<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../../css/css/me/sq_vip.css" />
	</head>
	
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">申请VIP</h1>
		</header>
		<div class="mui-content">
		   <div class="my-header">
		   		<div class="my-money">
		   			<span>PLUS余额：0.01</span>
		   		</div>
		   		
		   		<div class="my-desc">
		   			<span>VIP特权：您需要持有1000枚PLUS币进行申请，申请提交日开始28天后正式通过成为VIP。VIP享受矿工费5折，VIP综合费1%（即每天各项收益部分普通用户扣取5%），币币兑换和交易费5折，vip专属区糖果派送，平台各项政策VIP优先享受</span>
		   		</div>
		   		
		   		<div class="my-sq">
		   			<button id="vip" type="button" class="mui-btn mui-btn-block mui-btn-primary">立即申请</button>             	
		   		</div>
		   </div>
		   
		   <div class="my-list">
		   		<div class="my-title">
		   			<span>申请记录</span>
		   		</div>		
		   		<ul class="mui-table-view" id="list">
		   			
				</ul>    
		   </div>
		</div>
		<script src="../../../js/mui.min.js"></script>
		<script src="../../../js/common.js"></script>
		<script src="../../../js/script/_cn/me/sq_vip.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>