body{
	background: #efeff4;
}

.my-head{
	padding: 15px;
	background-color: #FFFFFF;
}

.three{
	
}

.my-button{
	width: 29%;
}

.shousuo{
	background: #3b579d;
    color: #fff;
    float: right;
}

.text{
	/*width: 30px;*/
}

.my-list{
	
}

.null{
	text-align: center;
	margin-top: 10px;
}
