<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>about</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../../css/common.css"/>
		<link rel="stylesheet" href="../../../css/css/login.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/css/me/about.css"/>
    	<link rel="stylesheet" href="../../../css/iconfont.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">About Us</h1>
		</header>
		
			<div class="login_content">
			<div class="mui-content mui-input-group">
                <form id="login-form">
					<div class="login_photo">
						<img src="../../../images/logo.png">
						<div>
							<span>Version：1.0.0</span>
						</div>
					</div>
					<div style="margin: 5% 0"></div>
					
                    <div class="my-list">
                    	<ul class="mui-table-view">
						    <li class="mui-table-view-cell" id="syxy">
						        <a class="mui-navigate-right">Use Agreement</a>
						    </li>
						    <li class="mui-table-view-cell" id="fwxy">
						        <a class="mui-navigate-right">Service agreement</a>
						    </li>
						    <li class="mui-table-view-cell" id="rjbb">
						        <a class="mui-navigate">Version
						        	<span style="float: right;">1.0.0</span>
						        </a>
						    </li>
						</ul>
                    </div>
				</form>
			</div>
		</div>
		<script src="../../../js/mui.min.js"></script>
		<script src="../../../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/script/_en/me/about.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>