<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Wallet address</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../../css/css/me/address.css"/>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">Wallet address</h1>
		     <a id="add" class="mui-icon mui-icon-plus mui-pull-right"></a>
		</header>
		
		<div class="mui-content">
		    <div class="my-list">
		    	<ul class="mui-table-view">
		    		<li id="1" class="mui-table-view-cell mui-transitioning">
		    			<div class="mui-slider-right mui-disabled">
							<a data-id="1" class="mui-btn mui-btn-red" style="transform: translate(0px, 0px);">delete</a>
						</div>
		    			<div class="mui-slider-handle" style="transform: translate(0px, 0px);">
			    			<img class="my-img" src="../../../images/icons/BTC.svg"/>
			    			<span class="my-name">BTC</span>
			    			<span class="my-number">My BTC</span>
			    			<span class="my-time">0xssswefewfwefdasdqfqwf</span>
			    		</div>
		    		</li>
		    		<li id="2" class="mui-table-view-cell mui-transitioning">
		    			<div class="mui-slider-right mui-disabled">
							<a data-id="2" class="mui-btn mui-btn-red" style="transform: translate(0px, 0px);">delete</a>
						</div>
		    			<div class="mui-slider-handle" style="transform: translate(0px, 0px);">
			    			<img class="my-img" src="../../../images/icons/DOGE.svg"/>
			    			<span class="my-name">DOGE</span>
			    			<span class="my-number">My DOGE</span>
			    			<span class="my-time">0xssswefewfwefdasdqfqwf</span>
			    		</div>
		    		</li>
		    	</ul>
		    </div>
		</div>
		<script src="../../../js/mui.min.js"></script>
		<script src="../../../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/plugin/layer/layer.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/script/_en/me/address.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>