<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../../css/css/me/contact.css"/>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">Contact Us</h1>
		</header>
		
		<div class="mui-content">
		    <form class="mui-input-group" >
			    <div class="mui-input-row">
			        <label>name</label>
			    <input id="name" type="text" class="mui-input-clear" placeholder="please enter your name">
			    </div>
			    <div class="mui-input-row">
			        <label>TEL</label>
			    <input id="tel" type="tel" class="mui-input-clear" placeholder="please enter your tel">
			    </div>
			    <div class="mui-input-row">
			        <label>E-mail</label>
			    	<input id="email" type="email" class="mui-input-clear" placeholder="Please enter your email address">
			    </div>
			    <div class="mui-input-row" style="height: 130px;">
			    	<textarea id="text" name="" rows="" cols="" style="height: 130px;" placeholder="Please enter a message"></textarea>
			    </div>
			    
			    <div class="mui-button-row" style="height: auto; border: 0;">
			        <button id="submit" type="button" class="mui-btn mui-btn-primary" >submit</button>
			    </div>
			</form>
		</div>
		<script src="../../../js/mui.min.js"></script>
		<script src="../../../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/script/_en/me/contact.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>