<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Help center</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../../css/common.css"/>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">Help center</h1>
		</header>
		
		<div class="mui-content">
		    <ul class="mui-table-view">
			    <li class="mui-table-view-cell" data-index="0">
			        <a class="mui-navigate-right">common problem</a>
			    </li>
			    <li class="mui-table-view-cell"  data-index="1">
			        <a class="mui-navigate-right">Cooperative investment</a>
			    </li>
			    <li class="mui-table-view-cell"  data-index="2">
			        <a class="mui-navigate-right">Merchant help</a>
			    </li>
			</ul>
		</div>
		<script src="../../../js/mui.min.js"></script>
		<script src="../../../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/script/_en/me/help.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>