<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../../css/css/me/sq_vip.css" />
	</head>
	
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">Apply for VIP</h1>
		</header>
		<div class="mui-content">
		   <div class="my-header">
		   		<div class="my-money">
		   			<span>PLUS Balance：0.01</span>
		   		</div>
		   		
		   		<div class="my-desc">
		   			<span>VIP privileges：You need to hold 1000 PLUS coins to apply, and 28 days after the application submission date, you will officially become a VIP. VIP enjoys a 50% discount on miners' fees, 1% of VIP comprehensive fees (ie, 5% of ordinary users are deducted every day), 50% off currency exchange and transaction fees, VIP distribution in vip exclusive area, VIP preferential policies on platform</span>
		   		</div>
		   		
		   		<div class="my-sq">
		   			<button id="vip" type="button" class="mui-btn mui-btn-block mui-btn-primary">Apply now</button>             	
		   		</div>
		   </div>
		   
		   <div class="my-list">
		   		<div class="my-title">
		   			<span>Application record</span>
		   		</div>		
		   		<ul class="mui-table-view" id="list">
		   			
				</ul>    
		   </div>
		</div>
		<script src="../../../js/mui.min.js"></script>
		<script src="../../../js/common.js"></script>
		<script src="../../../js/script/_en/me/sq_vip.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>