<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<!---->
		<!--<div id="demo1" class="mui-progressbar mui-progressbar-infinite" style="width:100%;margin-top: 115%; height: 10px;">
			<span></span>
		</div>-->
		
		<script type="text/javascript" charset="utf-8" src="../js/mui.min.js"></script>
	    <script type="text/javascript" charset="utf-8" src="../js/script/welcome.js"></script>
	    <script type="text/javascript" charset="utf-8">
	      	mui.init({
      		  preloadPages:[
			    {url:'./_cn/login.html'},
			    {url:'./_cn/index.html'},
			    {url:'./_en/login.html'},
			    {url:'./_en/index.html'},
			  ],
			  preloadLimit:4//预加载窗口数量限制(一旦超出,先进先出)默认不限制
	      	});
	    </script>
	</body>
</html>
